* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eef2f9;
}

.container {
  width: 887px;
  height: 661px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 24px 28px 9px #b3c1d954;
  padding: 82px;
}

.product-group {
  gap: 32px;
}

.product-group > img {
  width: 249px;
  height: 223px;
}

.product-info-group {
  gap: 32px;
}

.product-info-title {
  width: 419px;
  height: 111px;
  border-radius: 20px;
  position: relative;
}

.badge {
  border-radius: 20px;
  padding: 4px 8px;
  background-color: #191847;
  position: absolute;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
.product-name {
  width: 419px;
  height: 72px;
  position: absolute;
  top: 39px;
  font-size: 24px;
  font-weight: 600;
  color: #191847;
}

.old-price {
  width: 79px;
  height: 21px;
  text-decoration: line-through;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.price {
  width: 193px;
  height: 72px;
  color: #191847;
  font-size: 48px;
  font-weight: 700;
}
.exp-date {
  width: 369px;
  height: 21px;
  opacity: 60%;
  color: #191847;
}
.btn-primary {
  width: 442px;
  border-radius: 8px;
  border: none;
  padding: 16px;
  background-color: #4788e9;
  box-shadow: 0px 7px 0px 0px #1c57ee;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.product-quantity {
  gap: 8px;
}

.product-quantity span {
  width: 119px;
  height: 21px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.btn-secondary-group {
  width: 442px;
  gap: 16px;
}

.btn-secondary-group button {
  width: 213px;
  border-radius: 8px;
  border: 2px solid #c9c9da;
  padding: 16px;
  gap: 10px;
  justify-content: center;
  color: #191847;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.btn-secondary-group button > i {
  font-size: 30px;
}
.fa-circle {
  margin: 3px 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
