* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(139deg, #e6e6e4 0%, #f0e8e2 100%);
}
.background {
  background-image: url(./imgs/vector.svg);
  background-repeat: no-repeat;
}
.container {
  margin: 0 auto;
  max-width: 1512px;
  padding: 40px 0 100px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.section-container {
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
}
.section-introduction-container {
  width: 100%;
  padding-left: 120px;
}
.title-container-fr {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  > h1 {
    font-weight: 500;
    font-size: 32px;
    color: black;
  }
  > .title-content {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
}
.title-content-active {
  font-style: none;
  font-size: 16;
  font-weight: 400;
  cursor: pointer;
  color: black;
}
.title-content-active:active {
  font-weight: 500;
  color: #1f1d2a;
  border-bottom: 2px solid black;
}
a {
  text-decoration: none;
  color: #1f1d2a;
}
.button-signin {
  width: 110px;
  height: 45px;
  border-radius: 6px;
  background-color: #d9d9d9;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.introduction-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 79px;
  width: 100%;
  /* max-width: 1200px; */
  margin-bottom: 91px;
}
.main-introduction-fc {
  max-width: 581px;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 55px;
  font-weight: 600;
  color: black;
  margin-bottom: 28px;
}
.sub-introduction {
  font-size: 16px;
  font-weight: normal;
  color: #9b948e;
  line-height: 30px;
  margin-bottom: 50px;
  max-width: 432px;
}
.get-started {
  width: 170px;
  height: 70px;
  background-color: #96c67f;
  border-radius: 6px;
  padding: 20px 16px;
  color: #1f1d2a;
  font-weight: 500;
  border: none;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
}
.image-information-position {
  position: relative;
  > .main-image-round {
    /* position: absolute; */
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: block;
  }
  > .play-image {
    position: absolute;
    right: -30px; /* Đẩy ra mép phải ảnh */
    top: 37%;
    width: 80px;
  }
  > .career-container {
    width: 180px;
    height: 130px;
    position: absolute;
    bottom: -30px;
    left: 30px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    min-width: 180px;
  }
}
.main-name-designer {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-bottom: 2px;
}
.sub-career {
  height: 21px;
  color: #9b948e;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 19px;
}
.judge-container {
  display: flex;
  gap: 8px;
  flex-direction: row;
  margin-bottom: 0;
  > .stars {
    width: 18px;
    height: 18px;
  }
}
.sponsor-container-fc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 100px;
  > h3 {
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
  > .sponsor-images-fr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}
.sponsor-image {
  height: 30px;
}
.apple {
  width: 88px;
}
.adobe {
  width: 125px;
}
.slack {
  width: 119px;
}
.sportify {
  width: 100px;
}
.google {
  width: 91px;
}
.sub-content-fc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 70px;
  > .sub1 {
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  > h4 {
    font-size: 32px;
    font-weight: 600;
    color: black;
  }
}
.strong-career {
  position: relative;
  isolation: isolate;
}
.strong-career::before {
  content: "";
  position: absolute;
  bottom: 9px;
  z-index: -1;
  width: 100%;
  background-color: #96c67f;
  height: 6px;
}
.teacher-container {
  display: grid;
  gap: 31px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  /* padding-bottom: 20px; */
}
.profile-teacher-fc {
  width: 295px;
  height: 450px;
  border-radius: 25px;
  background-color: white;
  > .teacher-image {
    width: 295px;
    height: 350px;
    margin-bottom: 20px;
  }
  > .teacher-name {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 6px;
    margin-left: 20px;
    width: 76px;
    height: 30px;
  }
  > .major {
    color: #9b948e;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
  }
}
