* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #f3f8ff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: #0f0f34;
  font-weight: 700;
}

li {
  list-style: none;
}

.navbar-container {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  max-width: 1255px;
  height: 178px;
  margin: 0 auto;
  > .navbar-main {
    width: 100%;
    height: 100%;
    background-color: #f8f9ff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 40px;
    > .nav-links {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }
}

.nav-items {
  display: flex;
  position: relative;
  height: 60px;
  padding: 0 15px;
  align-items: center;
}

.nav-items:hover {
  background: #eff1ff;
  border-radius: 15px;
  outline: 1px solid #dde1f9;
}

.nav-items:hover .mega-menu {
  display: flex;
}

.mega-menu {
  display: none;
  position: absolute;
  top: 90%;
  left: 0;
  background-color: #ffffff;
  width: 389px;
  height: 333px;
  padding: 35px;
  border-radius: 15px;
  gap: 80px;
  z-index: 100;
}

.menu-column {
  flex: 1;
}

.column-title {
  display: block;
  font-size: 12px;
  font-weight: 1000;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 25px;
}

.menu-list li {
  margin-bottom: 25px;
}

.menu-list a {
  font-weight: 800;
  color: #000;
  transition: color 0.2s;
}

.menu-list a:hover {
  width: 156px;
  height: 41px;
  background: #f8f9ff;
  border-radius: 5px;
}

.nav-actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.btn-login {
  margin-right: 25px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-signup {
  width: 121px;
  height: 55px;
  background-color: #0f0f34;
  color: white;
  display: flex;
  align-items: center;
  padding: 18px 25px 17px 30px;
  border-radius: 5px;
  text-transform: uppercase;
}
