* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-font: "Merriweather", serif;
  --secondary-font: "Poppins", san-serif;
}

html {
  width: 100%;
  background-color: #f3f6ff;
  font-family: var(--secondary-font);
  font-weight: 400;
}

h1,
.user-fullname {
  font-family: var(--primary-font);
  font-weight: 900;
  color: #151b32;
  font-size: 32px;
}

.container {
  margin: 50px auto;
  background-color: #fff;
  width: 100%;
  max-width: 1213px;
  border: none;
  border-radius: 16px;
  padding: 100px;
  gap: 70px;
}
.header-group {
  gap: 24px;
}

.search {
  display: flex;
  gap: 8px;
  padding: 16px;
  width: 327px;

  border: 1px solid #bfc8e5;
  border-radius: 4px;

  input {
    border: none;
    outline: none;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    color: #151b32;
  }
}

.filter {
  display: flex;

  button {
    padding: 16px;
    background-color: #fff;
    border: none;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
  }

  > button:hover {
    border-radius: 8px;
    background-color: #849fff;
    font-weight: 500;
    color: #fff;
  }
}

.users-group {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  .user {
    display: flex;
    gap: 16px;
    background-color: #fbfcff;
    width: 327px;
    height: 208px;
    padding: 24px;
    border-radius: 16px;
  }
}

.user {
  transition: all ease-in-out 0.3s;

  &:hover {
    border: 1px solid #bfc8e5;
    border-radius: 16px;
    box-shadow: 0px 8px 23px 0px #dae0f9b2;
    cursor: pointer;
  }

  > img {
    width: 97px;
    height: 97px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.user-info {
  .contacts {
    display: inherit;
    flex-direction: inherit;
    padding-top: 20px;

    .user-fullname {
      font-size: 18px;
    }

    .address {
      font-size: 14px;
      font-weight: 500;
      color: #151b32;
      margin-top: 4px;
    }
  }

  .hobbies {
    display: inherit;
    flex-wrap: wrap;
    gap: 4px;

    > span {
      padding: 2px 8px;
      border: 1px solid #bfc8e5;
      border-radius: 10px;

      font-weight: 500;
      font-size: 12px;
      color: #516fd4;
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-bw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
